---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Not Found"
  description="404 Error — this page was not found"
>
  <p>This page is not found!!!</p>
  <img src="/public/stock-1.jpg" alt="some bg image for testing" />
</BaseLayout>
