---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <img
    src="https://ik.imagekit.io/milanz/milanzivanov_com/laptop-glasses_6MoCrSz_xkM___1__7db87K7nR.webp?updatedAt=1642165580402.jpeg"
    alt="some bg image for testing"
  />

  <h2>My awesome blog subtitle</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi veritatis
    voluptate eius autem consequatur, odio inventore ab assumenda minima
    repellat, consequuntur nesciunt culpa fuga pariatur, hic enim? Atque, unde
    obcaecati?
  </p>
</BaseLayout>
