---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi veritatis
    voluptate eius autem consequatur, odio inventore ab assumenda minima
    repellat, consequuntur nesciunt culpa fuga pariatur, hic enim? Atque, unde
    obcaecati?
  </p>
</BaseLayout>
