---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <p>
      Sit labore amet cupidatat laboris sunt magna ad labore. Quis elit eiusmod
      dolore in adipisicing magna commodo veniam mollit. Amet mollit dolor est
      deserunt occaecat in. Sint laboris elit culpa ut et excepteur aliquip
      ullamco elit aute voluptate Lorem in. Dolore in culpa esse nisi excepteur
      enim labore reprehenderit nulla commodo.
    </p>
  </body>
</html>
