---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <!-- TODO: edit this part??? -->
    <div class="logo">
      <img
        src="https://ik.imagekit.io/milanz/milanzivanov_com/newMyLogoDesign2020-2_GY0ZJe0CVxjE2.png?updatedAt=1606654537037"
        alt="personal logo"
      />
    </div>
    <!-- <div class="logo">
      <img
        src="../../public/assets/aleks_logo.webp"
        alt="personal logo"
        width="100"
        height="50"
      />
    </div> -->
    <Hamburger />
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
