---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <!-- TODO: edit this part??? -->
  <!-- <div class="logo">
    <img
      src="https://ik.imagekit.io/milanz/milanzivanov_com/newMyLogoDesign2020-2_GY0ZJe0CVxjE2.png?updatedAt=1606654537037"
      alt="personal logo"
    />
  </div> -->
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
